<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000392128370-54abvb0f1knmrfijri04di0mmcqhp5nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000392128370-54abvb0f1knmrfijri04di0mmcqhp5nt</string>
	<key>API_KEY</key>
	<string>AIzaSyAonDXdmZ8hWe7F-c--7MBybZsRaFbYYpw</string>
	<key>GCM_SENDER_ID</key>
	<string>1000392128370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.on.time.app</string>
	<key>PROJECT_ID</key>
	<string>on-time-3c0ed</string>
	<key>STORAGE_BUCKET</key>
	<string>on-time-3c0ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000392128370:ios:4b565286e97acc33ff4feb</string>
</dict>
</plist>